footer {
    display: flex;
    #contact {
        width: 65%;
        padding: 100px 150px;
        .container {
            .title {
                font-weight: 600;
                font-size: 40px;
                display: inline-block;
                padding-bottom: 10px;
                border-bottom: 3px solid $gray;
                margin-bottom: 40px;
            }
        }
    }
    a {
        color: $gray;
        text-decoration: none;
        /* unvisited link */
        &:link {
           color: $gray;
        }

        /* visited link */
        &:visited {
           color: $gray;
        }

        /* mouse over link */
        &:hover {
           color: $gray;
           text-decoration: none;
        }

        /* selected link */
        &:active {
           color: $gray;
        }
    }
    .social-media {
        font-size: 25px;
        i {
            margin-right: .5em;
        }
        &:hover {
            color: $primary-color;
            cursor: pointer;
        }
    }

    &.post-footer{
        height: 100%;
        padding: 0 20px;
        background-color: #E7E7E7;
        color: $gray;
        display: flex;
        flex-direction: row;
        position: relative;
        .social-media {
            font-size: 18px;
            margin: 0 1em;
        }
    }
    .more-info {
        width: 35%;
        padding: 100px 50px;
        background-color: #E7E7E7;
        color: $gray;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width : 1050px) {
    footer {
        #contact {
            padding: 100px 50px;
        }
        .more-info {
            padding: 100px 30px;
            .social-media {
                font-size: 20px;
            }
        }
    }
}

@media only screen and (max-width : 780px) {
    footer {
        flex-direction: column;
        #contact {
            width: 100%;
        }
        .more-info {
            width: 100%;
            padding: 20px 30px;
            .social-media {
                font-size: 20px;
            }
        }
    }
}
