@import "compass/css3";
@import "compass/css3/animation";
@import 'compass';

// Typography
$base-font: "SF-Pro";

/* Color Palletes */
$white: #F8F6F6;
$primary-color: #9244E7;
$secondary-color: #BA82F8;

$background-gradient: linear-gradient(to right bottom, #5362CE, #1B2766);
